.affiliatesWrapper .container .row .col-lg-12 .affiliateCard {
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(90deg, rgb(198, 164, 101) 0%, rgba(53, 53, 53, 0) 100%);
  position: relative;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor {
  padding: 1.3rem;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .position-absolute {
  border-radius: 12px;
  background: url("../assets/affiliates.png") #353535 50%/cover no-repeat;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .position-absolute::before {
  content: "";
  border-radius: 12px;
  position: absolute;
  background: linear-gradient(90deg, rgba(198, 164, 101, 0.3) 0%, rgba(53, 53, 53, 0) 100%);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-7 .h1 {
  color: #C6A465;
  font-size: 36px;
  font-weight: 900;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-7 .h1 span {
  color: #FBF9ED;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-7 p {
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-4 .h5 svg:hover {
  fill: #FBF9ED;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-4 .h5 span:first-child {
  color: #FBF9ED;
  font-size: 16px;
  font-weight: 900;
  line-height: 0.8;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-4 .h5 span:last-child {
  color: #C6A465;
  font-size: 10px;
  font-weight: 400;
  text-decoration-line: underline;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-4 input {
  border-radius: 3px;
  border-color: #353535;
  background-color: #353535;
  color: #9D9D9D;
  font-size: 12px;
  font-weight: 400;
  height: 50px;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-4 input::placeholder {
  color: #9D9D9D;
  font-size: 12px;
  font-weight: 400;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-4 input:focus-visible {
  outline: unset !important;
  box-shadow: unset !important;
  border: unset !important;
}
.affiliatesWrapper .container .row .col-lg-12 .affiliateCard .borderColor .row .col-lg-4 button {
  background-color: #C6A465;
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 600;
  min-height: 47px;
  border-radius: 4px;
}
.affiliatesWrapper .container .row .col-lg-3 .workCard {
  border-radius: 13px;
  transition: 0.2s all ease-in-out;
}
.affiliatesWrapper .container .row .col-lg-3 .workCard:hover {
  transform: scale(1.05);
  transition: 0.2s all ease-in-out;
}
.affiliatesWrapper .container .row .col-lg-3 .workCard .position-absolute {
  border-radius: 12px;
  background: linear-gradient(180deg, #282828 24.51%, rgba(40, 40, 40, 0.51) 59.41%, rgba(40, 40, 40, 0) 99.68%);
}
.affiliatesWrapper .container .row .col-lg-3 .workCard .h1 {
  color: #FBF9ED;
  position: relative;
  text-align: center;
  font-size: 64px;
  font-weight: 800;
}
.affiliatesWrapper .container .row .col-lg-3 .workCard .p {
  position: relative;
  color: #C6A465;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
}
.affiliatesWrapper .container .commission .flex-grow-1 .hover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.affiliatesWrapper .container .commission .flex-grow-1 .hover .show,
.affiliatesWrapper .container .commission .flex-grow-1 .hover .hide {
  position: absolute;
  transition: opacity 0.3s ease;
  color: white;
}
.affiliatesWrapper .container .commission .flex-grow-1 .hover .show .h5,
.affiliatesWrapper .container .commission .flex-grow-1 .hover .hide .h5 {
  color: #FBF9ED;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.affiliatesWrapper .container .commission .flex-grow-1 .hover .show .h1,
.affiliatesWrapper .container .commission .flex-grow-1 .hover .hide .h1 {
  color: #FBF9ED;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.affiliatesWrapper .container .commission .flex-grow-1 .hover .show {
  opacity: 0;
}
.affiliatesWrapper .container .commission .flex-grow-1 .hover .hide {
  opacity: 1;
}
.affiliatesWrapper .container .commission .flex-grow-1 .hover:hover .show {
  opacity: 1;
}
.affiliatesWrapper .container .commission .flex-grow-1 .hover:hover .hide {
  opacity: 0;
}
.affiliatesWrapper .container .commission .flex-grow-1 .innerHover {
  height: 400px;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile {
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(90deg, rgb(198, 164, 101) 0%, rgba(53, 53, 53, 0) 100%);
  position: relative;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor {
  padding: 1.3rem;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .position-absolute {
  border-radius: 12px;
  background: #353535;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .position-absolute::before {
  content: "";
  border-radius: 12px;
  position: absolute;
  background: linear-gradient(90deg, rgba(198, 164, 101, 0.3) 0%, rgba(53, 53, 53, 0) 100%);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .d-flex .img img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .d-flex .content .h6 {
  color: #FBF9ED;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .d-flex .content .h6 img {
  width: 18px;
  height: 17px;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .d-flex .content .h5 {
  color: #C6A465;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .d-flex .content .content .progressWapper .d-flex span {
  line-height: 1;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .d-flex .content .content .progressWapper .d-flex.mb-1 img {
  width: 10px;
  height: 10px;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .d-flex .content .content .progressWapper .text {
  margin-top: 3px;
  color: #FBF9ED;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}
.affiliatesWrapper .container .row .col-lg-4 .nobleProfile .borderColor .d-flex .content .content .progressWapper .progress {
  border-radius: 2px;
  background: #9D9D9D;
  height: 4px;
}
.affiliatesWrapper .container .row .col-lg-6 .h2 {
  color: #C6A465;
  font-size: 32px;
  font-weight: 900;
}
.affiliatesWrapper .container .row .col-lg-6 .h2 span {
  color: #FBF9ED;
  font-size: 32px;
  font-weight: 900;
}
.affiliatesWrapper .container .row .col-lg-6 .p {
  color: #FBF9ED;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.affiliatesWrapper .container .row .col-lg-3 .summaryCard {
  border-radius: 12px;
  background: #353535;
}
.affiliatesWrapper .container .row .col-lg-3 .summaryCard h5 {
  color: #FBF9ED;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
}
.affiliatesWrapper .container .row .col-lg-3 .summaryCard h6 {
  color: #C6A465;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
}
.affiliatesWrapper .container .row .col-lg-3 .summaryCard.last {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.affiliatesWrapper .container .row .col-lg-3 .claim {
  background-color: #C6A465;
  color: #FBF9ED;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.affiliatesWrapper .container .row .col-lg-3 .claim:hover {
  background-color: #FBF9ED;
  color: #9D9D9D;
}

/*# sourceMappingURL=affiliates.css.map */
