.chatList {
  .select {
    cursor: pointer;
    .optionClick {
      background-color: #353535;
      padding: .43rem .75rem;
      transition: all 0.3s ease;

      .d-flex {
        span {
          color: #9D9D9D;
          font-size: 14px;
        }
      }
    }
    .optionOpener {
      transition: all 0.3s ease;
      z-index: 99;
    }
    .optionWrapper {
      background-color: #353535;
      transition: 0.2s all ease-in-out;
      .option {
        background-color: #353535;
        padding: .43rem .75rem;
        .d-flex {
          span {
            color: #9D9D9D;
            font-size: 14px;
          }
        }
        &:hover {
          border-radius: 0px !important;
          background: linear-gradient(90deg, rgba(198, 164, 101, 0.30) 0%, rgba(53, 53, 53, 0.00) 100%);
        }
      }
    }
  }
  .list-unstyled{
    min-height: calc(100vh - 220px);
    max-height: calc(100vh - 220px);

    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      background: #434343;
    }
    &::-webkit-scrollbar-thumb {
      background: #9D9D9D;
    }
    &::-webkit-scrollbar {
      width: 2px;
    }
    .user {
      cursor: pointer;
      .userImg {
        .position-absolute{
          top: -1.05rem;
          left:-1.05rem;
          transform: rotate(-11deg);
          svg{
            width: 28px;
            height: 28px;
          }
        }
        img {
          width: 44px;
          height: 44px;
          flex-shrink: 0;
          border-radius: 4px;
        }
      }
      .userDetails {
        width: 100%;
        .d-flex {
          .rank {
            span {
              &:first-child {
                border-radius: 3px;
                color: #FBF9ED;
                font-size: 12px;
                font-weight: 700;
                padding: 0.25rem 0.4rem;

                &.green{
                  background-color: #017455;
                }
                &.golden{
                  background-color: #C6A465;
                }
                &.white{
                  background-color: #FBF9ED;
                  color:#434343;
                }
                &.purple{
                  background-color: #37023F;
                }
                &.grey{
                  background-color: #434343;
                }
              }

              &:last-child {
                color: #FBF9ED;
                font-size: 12px;
                font-weight: 600;
              }
            }
          }

          .time {
            color: #FBF9ED;
            font-size: 10px;
            font-weight: 100;
          }
        }
        .text {
          color: #9D9D9D;
          font-size: 10px;
          font-weight: 400;
          margin-top: 0.35rem;
        }
      }
      &:hover{
        background: linear-gradient(90deg, #C6A465 0%, rgba(53, 53, 53, 0.00) 100%);
        .text {
          color: #FBF9ED;
          font-size: 10px;
          font-weight: 400;
          margin-top: 0.35rem;
        }
        .userImg {
          .position-absolute{
            top: -1.05rem;
            left:-1.05rem;
            transform: rotate(-11deg);
            svg{
              fill: #FBF9ED;
            }
          }
          img {
            width: 44px;
            height: 44px;
            flex-shrink: 0;
            border-radius: 4px;
          }
        }
      }
    }
  }

  .chatbutton{
    .btn{
      background-color: #C6A465;
      color: #FBF9ED;
      font-size: 12px;
      font-weight: 600;
    }
    .d-flex{
      span{
        &:first-child{
          color: #FBF9ED;
          font-size: 10px;
          font-weight: 400;
          text-decoration: underline;
          cursor: pointer;
        }
        &:last-child{
          color: #FBF9ED;
          font-size: 10px;
          font-weight: 300;
        }
      }

    }
  }

}