.coinFlipTable .col-lg-12 .table-responsive::-webkit-scrollbar-track {
  background: #434343;
}
.coinFlipTable .col-lg-12 .table-responsive::-webkit-scrollbar-thumb {
  background: #9D9D9D;
}
.coinFlipTable .col-lg-12 .table-responsive::-webkit-scrollbar {
  width: 2px;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody > tr:nth-of-type(odd) > * {
  background-color: transparent;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody > tr:nth-of-type(even) > * {
  background-color: #313131;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody:not(caption) > * > * {
  box-shadow: unset !important;
  border-color: transparent !important;
  border-bottom-width: unset !important;
}
.coinFlipTable .col-lg-12 .table-responsive .table thead tr {
  border-bottom: 1px solid #434343 !important;
}
.coinFlipTable .col-lg-12 .table-responsive .table thead tr th {
  background-color: transparent;
  color: #9D9D9D;
  font-size: 16px;
  font-weight: 800;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 15%;
}
.coinFlipTable .col-lg-12 .table-responsive .table thead tr th.width {
  width: 40%;
}
@media only screen and (max-width: 992px) {
  .coinFlipTable .col-lg-12 .table-responsive .table thead tr th {
    width: unset !important;
  }
  .coinFlipTable .col-lg-12 .table-responsive .table thead tr th.width {
    width: unset !important;
  }
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td {
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 300;
  padding-top: 0.8rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.8rem;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.positive-payout {
  color: #C6A465;
  font-size: 12px;
  font-weight: 700;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.inActive {
  color: #F4F2EA;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.name span {
  text-align: left;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.name span:first-child {
  font-weight: 500;
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 500;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.name span:last-child {
  color: #C6A465;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.name img {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.guns img {
  width: 68px;
  height: 45px;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.guns span {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 300;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.buttons .position-absolute {
  top: 50%;
  transform: translateY(-50%);
  left: -1rem;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.buttons .position-absolute img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.buttons .btn {
  height: 48px;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.buttons .btn.join {
  min-width: 110px;
  color: #FBF9ED;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  background-color: #C6A465;
  border-color: #C6A465;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.buttons .btn.joining {
  min-width: 110px;
  background-color: #515357;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  color: #FBF9ED;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-color: #515357;
  background-size: 1.5rem 1.5rem;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.buttons .btn.view {
  color: #FBF9ED;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  border-color: #9D9D9D;
}
.coinFlipTable .col-lg-12 .table-responsive .table tbody tr td.buttons .btn.winner {
  min-width: 110px;
  background-color: #FBF9ED;
  color: #6F7073;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

/*# sourceMappingURL=coinFlipTable.css.map */
