.createModal .position {
  position: absolute;
  top: -4rem;
  z-index: 1;
  width: 100%;
}
.createModal .position span {
  z-index: 999;
  border-radius: 10px;
  background-color: #201E21;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
@media only screen and (max-width: 992px) {
  .createModal .position span:nth-of-type(2) {
    display: none;
  }
  .createModal .position span:nth-of-type(4) {
    display: none;
  }
}
.createModal .modal-content {
  background: #201E21 !important;
}
.createModal .coinFlipModalBody .head .d-flex .h2 {
  color: #C6A465;
  font-size: 36px;
  font-weight: 900;
}
.createModal .coinFlipModalBody .head .d-flex .h2 span {
  color: #FBF9ED;
}
.createModal .coinFlipModalBody .head .d-flex .text span {
  color: #FBF9ED;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  height: unset;
  width: unset;
}
.createModal .coinFlipModalBody .head .d-flex .value span:first-child {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 300;
}
.createModal .coinFlipModalBody .head .d-flex .value span span {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 400;
}
.createModal .coinFlipModalBody .head .d-flex .img {
  cursor: pointer;
}
.createModal .coinFlipModalBody .foot .d-flex button {
  min-height: 48px;
  min-width: 100px;
  background-color: #C6A465;
  color: #FBF9ED;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.createModal .coinFlipModalBody .foot .d-flex button.select {
  min-height: 48px;
  min-width: 100px;
  border-color: #FBF9ED;
  background-color: transparent;
  color: #FBF9ED;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.createModal .coinFlipModalBody .foot .d-flex button.select:hover {
  min-height: 48px;
  min-width: 100px;
  background-color: #C6A465;
  border-color: #C6A465;
  color: #FBF9ED;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.createModal .coinFlipModalBody .foot .d-flex .value span:first-child {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 300;
}
.createModal .coinFlipModalBody .foot .d-flex .value span.text {
  font-weight: 300;
}
.createModal .coinFlipModalBody .foot .d-flex .value span span {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 500;
}
.createModal .coinFlipModalBody .foot .d-flex .comparison {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 300;
}
.createModal .coinFlipModalBody .foot .d-flex .comparison span {
  color: #FBF9ED;
  font-weight: 500;
}
.createModal .coinFlipModalBody .cardItemsWrapper {
  background-color: #343434;
  border-radius: 10px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}
.createModal .coinFlipModalBody .cardItemsWrapper::-webkit-scrollbar-track {
  background: #434343;
}
.createModal .coinFlipModalBody .cardItemsWrapper::-webkit-scrollbar-thumb {
  background: #9D9D9D;
}
.createModal .coinFlipModalBody .cardItemsWrapper::-webkit-scrollbar {
  width: 2px;
}
.createModal .coinFlipModalBody .cardItemsWrapper label {
  width: 140px;
  cursor: pointer;
}
.createModal .coinFlipModalBody .cardItemsWrapper label .cardItem .d-flex span {
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 100;
}
.createModal .coinFlipModalBody .cardItemsWrapper label .cardItem .d-flex .value span {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 700;
}
.createModal .coinFlipModalBody .cardItemsWrapper label .cardItem .checked {
  display: none !important;
  top: 25%;
  transform: translateX(-50%);
  left: 50%;
}
.createModal .coinFlipModalBody .cardItemsWrapper label input[type=checkbox] {
  display: none;
}
.createModal .coinFlipModalBody .cardItemsWrapper label input[type=checkbox]:checked + .cardItem > .checked {
  display: block !important;
}

/*# sourceMappingURL=createModal.css.map */
