.fair{
  .row {
    .col-lg-6{
      .padding{
        padding-top: 5rem;
      }
      .content {
        h3{
          font-weight: 900;
          color: #ffffff;
          font-size: 18px;
          padding-bottom: 1rem;
          span{
            font-weight: 400;
            color: #9D9D9D;
            font-size: 10px;
          }
        }
        p{
          font-weight: 400;
          color: #9D9D9D;
          font-size: 12px;
        }
        .form-label{
          font-weight: 900;
          font-size: 12px;
          color: #ffffff;
        }
        .form-select{
          background-color: #353535 ;
          border-color: #353535;
          color: #9D9D9D;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-size: 12px;

        --bs-form-select-bg-img:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
          &:focus-visible ,  &:focus{
            box-shadow: unset !important;
            border-color: #9D9D9D !important;
            outline-color:#9D9D9D !important;
          }
        }
        .form-control {
          background-color: #353535 ;
          border-color: #353535;
          color: #9D9D9D;
          font-size: 12px;
          &::placeholder{
            color: #9D9D9D;
            font-size: 12px;
          }
          &:focus-visible ,  &:focus{
            box-shadow: unset !important;
            border-color: #9D9D9D !important;
            outline-color:#9D9D9D !important;
          }
        }
        .btn{
          background-color: #C6A465;
          border-color: #C6A465;
          color: #ffffff;
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }
}