.GameSignedOut .row .col-lg-12 .h5 {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.GameSignedOut .row .col-lg-12 .betAmount {
  border-radius: 12px;
  background: #353535;
}
.GameSignedOut .row .col-lg-12 .betAmount .flex-grow-1 img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.GameSignedOut .row .col-lg-12 .betAmount .flex-grow-1 span {
  line-height: 0.9;
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 300;
}
.GameSignedOut .row .col-lg-12 .betAmount .btnWrapper .d-flex .filter {
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 500;
}
.GameSignedOut .row .col-lg-12 .betAmount .btnWrapper .d-flex .filterApply span {
  color: #FBF9ED;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  background-color: #C6A465;
  border-radius: 5px;
  min-width: 40px;
}
.GameSignedOut .row .col-lg-3 .roultenePower .image-box span {
  color: #FBF9ED;
  font-size: 14px;
  font-weight: 700;
}
.GameSignedOut .row .col-lg-3 .roultenePower.red {
  border-radius: 12px;
  background-color: #800020;
}
.GameSignedOut .row .col-lg-3 .roultenePower.red .power span {
  color: #590016;
  font-size: 24px;
  font-weight: 700;
}
.GameSignedOut .row .col-lg-3 .roultenePower.green {
  border-radius: 12px;
  background-color: #017455;
}
.GameSignedOut .row .col-lg-3 .roultenePower.green .power span {
  color: #004B37;
  font-size: 24px;
  font-weight: 700;
}
.GameSignedOut .row .col-lg-3 .roultenePower.grey {
  border-radius: 12px;
  background-color: #434343;
}
.GameSignedOut .row .col-lg-3 .roultenePower.grey .power span {
  color: #292929;
  font-size: 24px;
  font-weight: 700;
}
.GameSignedOut .row .col-lg-3 .roultenePower.purple {
  border-radius: 12px;
  background-color: #37023F;
}
.GameSignedOut .row .col-lg-3 .roultenePower.purple .power span {
  color: #27012D;
  font-size: 24px;
  font-weight: 700;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory {
  border-radius: 12px;
  background: #353535;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneHead {
  border-bottom: 1px solid #9D9D9D;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneHead .right img {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneHead .right span {
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 400;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneHead .left img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneHead .left span {
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 400;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .position-absolute {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: linear-gradient(0deg, #282828 0%, rgba(40, 40, 40, 0) 100%);
  height: 75px;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneBody .roulteneItem {
  border-bottom: 1px solid #292929;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneBody .roulteneItem .right img {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneBody .roulteneItem .right span {
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 500;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneBody .roulteneItem .left img {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.GameSignedOut .row .col-lg-3 .roulteneHistory .roulteneBody .roulteneItem .left span {
  color: #FBF9ED;
  font-size: 12px;
  font-weight: 400;
}

/*# sourceMappingURL=gameSignedOut.css.map */
