.header {
  background-color: #282828;
  .logo {
    width: 260px;
    //background-image: url("../assets/logo-bg.png");
    background: url('../assets/logo-bg.png') #201e21 50% / cover no-repeat;
    background-size: cover;

    img {
      width: 110px;
      height: 65px;
      animation: animName 4s linear infinite;
    }

    @keyframes animName {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
  }
  .navbar-toggler{
    border: unset !important;
    &:active , &:focus-visible ,  &:focus{
      border: unset !important;
      box-shadow: unset !important;
    }
    &.nav-active{
      position: relative;
      transition: 0.2s all ease-in-out;
      span{
        &:first-child{
          transform: rotate(45deg);
          position: absolute;
          top: 4px;
          transition: 0.2s all ease-in-out;
        }
        &:last-child{
          transform: rotate(-45deg);
          transition: 0.2s all ease-in-out;
          width: 50px;

        }

      }
    }



    span{
      transition: 0.2s all ease-in-out;
      &:first-child{
        width: 50px;
        height: 3px;
        display: block;
        margin-bottom: 8px;
        background-color: #c6a465;
        transition: 0.2s all ease-in-out;
      }
      &:last-child{
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 8px;
        background-color: #c6a465;
        transition: 0.2s all ease-in-out;
      }

    }
  }

  #navbarScroll {
    background-color: #434343;
    padding-top: 5px;
    padding-bottom: 5px;


    @media only screen and (max-width: 992px){
      position: absolute;
      left: -100%;
      background-color: #434343;
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
      transition: 0.2s all ease-in-out;
      top: 6rem;
      z-index: 9999;
      &.show{
        top: 6rem;
        left: 0 !important;
        transition: 0.2s all ease-in-out;
        height: 100vh !important;
      }
    }
    .navbar-nav-scroll{
      @media only screen and (max-width: 992px){
        display: block;
        min-height: calc(100vh - 6rem) !important;
      }
    }


    .nav-link {
      color: #9d9d9d;
      font-size: 12px;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }

    .social {
      span {
        border: 1px solid #9d9d9d;
        border-radius: 3px;
        color: #9d9d9d;
      }
    }
  }

  .header-bottom-bar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #282828;
    @media only screen and (max-width: 992px){
      justify-content: center !important;
      
    }

    .d-flex {
      span {
        color: #9d9d9d;

        &.pill {
          cursor: pointer;
          background-color: #353535;
          border-radius: 3px;
          font-size: 12px;
          font-weight: 900;
        }

        &.border {
          border-width: 2px !important;
          border-color: #9d9d9d !important;
        }

        .iconRotate {
          transition: transform 0.3s ease;
          transform: rotate(0deg);
        }

        .iconRotate.rotated {
          transform: rotate(180deg);
          transition: transform 0.3s ease;
        }

        &.volume {
          /* VolumeSlider.scss */
          .volume-slider {
            width: 120px;
            margin-bottom: 0.4rem;
          }

          .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background: linear-gradient(to right, #c6a465 50%, #fff 50%);
            outline: none;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
          }

          .slider:hover {
            opacity: 1;
          }

          .slider.high-volume {
            background: linear-gradient(to right, #c6a465 50%, #fff 50%);
          }

          .slider.low-volume {
            background: linear-gradient(to right, #c6a465 50%, #fff 50%);
          }

          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 8px;
            height: 8px;
            border-radius: 1px;
            background: #d7d5cb;
            cursor: pointer;
          }

          .slider::-moz-range-thumb {
            width: 8px;
            height: 8px;
            border-radius: 1px;
            background: #d7d5cb;
            cursor: pointer;
          }
        }
      }
    }

    .walletButton {
      border-radius: 3px;
      padding: 1px;
      background: linear-gradient(90deg, rgb(198, 164, 101) 0%, rgba(53, 53, 53, 0) 100%);
      position: relative;
      .position-absolute {
        padding: 2px;
        background: #353535 0% / cover no-repeat;
        border-radius: 3px;
      }
      .position-relative {
        border-radius: 3px;
        padding: 1px;
        .bal {
          span {
            color: #fbf9ed;
            font-size: 12px;
            font-weight: 700;
          }
        }
        .btn {
          color: #fbf9ed;
          text-align: center;
          background-color: #c6a465;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }

    .loginWrapper {
      span {
        &:first-child {
          color: #c6a465;
          font-weight: 500;
          font-size: 12px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background-color: #c6a465;
            border-radius: 3px;
            color: #fbf9ed;

            svg {
              fill: #fbf9ed;
            }
          }
        }

        &.login {
          background-color: #c6a465;
          border-radius: 3px;
          color: #fbf9ed;
          font-weight: 600;
          font-size: 12px;
          cursor: pointer;
        }
      }
      .dropdownCustom {
        background-color: unset !important;
        background-image: unset !important;
        &:after {
          border: unset !important;
        }
        img {
          width: 33px;
          height: 33px;
          object-fit: contain;
          border-radius: 4px;
        }
      }
      .menu {
        border-radius: unset;
        background-color: #282828 !important;
        border-color: #282828 !important;
        .dropdown-item {
          font-size: 12px;
          color: #fbf9ed;
          &:hover {
            background: linear-gradient(90deg, rgba(198, 164, 101, 0.3) 0%, rgba(53, 53, 53, 0) 100%);
          }
          &:focus-visible,
          &:focus,
          &:active {
            background: linear-gradient(90deg, rgba(198, 164, 101, 0.3) 0%, rgba(53, 53, 53, 0) 100%);
          }
        }
      }
      .dropdown-menu[data-bs-popper] {
        left: unset !important;
      }
    }
  }

  .dropDown {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 260px);
    background-color: #282828;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: all 0.9s ease-in-out;
    @media only screen and (max-width: 992px){
      width: 100%;
      
    }

    &.open {
      transition: all 0.9s ease-in-out;
      visibility: visible;
      opacity: 1;
    }

    .d-flex {
      .game {
        border-radius: 12px;
        min-width: 24%;
        background: url('../assets/game.png') #353535 50% / cover no-repeat;
        min-height: 100%;
        text-align: center;

        img {
          width: 70px;
          height: 60px;
          position: relative;
          top: -5px;
          animation: animName 4s linear infinite;
        }

        @keyframes animName {
          0% {
            transform: rotateY(0deg);
          }
          100% {
            transform: rotateY(360deg);
          }
        }

        span:first-child {
          color: #fbf9ed;
          font-size: 12px;
          font-weight: 700;
        }

        span:last-child {
          color: #fbf9ed;
          font-size: 12px;
          font-weight: 700;
          border-radius: 3px;
          background: #c6a465;
        }
      }
    }

    @media only screen and (max-width: 992px) {
      .d-flex .game {
        min-width: 50%;
      }
    }

    @media only screen and (max-width: 540px) {
      .d-flex .game {
        min-width: 100%;
      }
    }
  }
}
