.settingsWrapper .container .row .col-lg-12 h4 {
  color: #FBF9ED;
  font-size: 16px;
  font-weight: 900;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-12 .form-label {
  color: #FBF9ED;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-12 .form-label span {
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 400;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-12 .form-label a {
  color: #C6A465;
  font-size: 14px;
  font-weight: 600;
  text-decoration-line: underline;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-12 .form-control {
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 400;
  background-color: #353535;
  border-color: #353535;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-12 .form-control:focus-visible, .settingsWrapper .container .row .col-lg-5 .row .col-lg-12 .form-control:focus {
  border-color: #ffffff !important;
  outline-color: #ffffff !important;
  box-shadow: unset !important;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-12 .form-control::placeholder {
  color: #9D9D9D;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-7 .select {
  cursor: pointer;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-7 .select .optionClick {
  background-color: #353535;
  padding: 0.43rem 0.75rem;
  transition: all 0.3s ease;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-7 .select .optionClick .d-flex span {
  color: #9D9D9D;
  font-size: 14px;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-7 .select .optionOpener {
  transition: all 0.3s ease;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-7 .select .optionWrapper {
  background-color: #353535;
  transition: 0.2s all ease-in-out;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-7 .select .optionWrapper .option {
  background-color: #353535;
  padding: 0.43rem 0.75rem;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-7 .select .optionWrapper .option .d-flex span {
  color: #9D9D9D;
  font-size: 14px;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-7 .select .optionWrapper .option:hover {
  border-radius: 0px !important;
  background: linear-gradient(90deg, rgba(198, 164, 101, 0.3) 0%, rgba(53, 53, 53, 0) 100%);
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-3 .btn {
  background-color: rgb(1, 116, 85);
  color: #FBF9ED;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.settingsWrapper .container .row .col-lg-5 .row .col-lg-2 .btn {
  background-color: rgb(128, 0, 32);
  color: #FBF9ED;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.settingsWrapper .container .row .col-lg-6 .bio .form-label {
  color: #FBF9ED;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
}
.settingsWrapper .container .row .col-lg-6 .bio .form-label span {
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 400;
}
.settingsWrapper .container .row .col-lg-6 .bio .form-label a {
  color: #C6A465;
  font-size: 14px;
  font-weight: 600;
  text-decoration-line: underline;
}
.settingsWrapper .container .row .col-lg-6 .bio textarea {
  background-color: #353535;
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 400;
  background-color: #353535;
  border-color: #353535;
}
.settingsWrapper .container .row .col-lg-6 .bio textarea:focus-visible, .settingsWrapper .container .row .col-lg-6 .bio textarea:focus {
  outline-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: unset !important;
}
.settingsWrapper .container .row .col-lg-6 .bio textarea::placeholder {
  color: #9D9D9D;
}

/*# sourceMappingURL=settings.css.map */
