.spinnerModal{
  .position{
    position: absolute;
    top: -4rem;
    z-index: 1;
    width: 100%;
    span{
      z-index: 999;
      border-radius: 10px;
      background-color: #201E21;
      width: 80px;
      height: 80px;
      flex-shrink: 0;

    }
    @media only screen and (max-width: 992px){
      span{
        &:nth-of-type(2){
          display: none;
        }
        &:nth-of-type(4){
          display: none;
        }
      }

    }
  }
  .modal-content{
    background: #201E21 !important;
    .spinnerWrapper{
      background-color: #282828;
      border-radius: 10px;
      &::-webkit-scrollbar{
        display: none;
      }
      .d-flex{
        overflow-x: scroll;
      }
      .singleItem{
        min-width: 180px;
        text-align: center;
        img{
          width: 112px;
          height: 81px;
          &.icon{
            width: 20px;
            height:20px;
          }
        }
        .text{
          color: #FBF9ED !important;
          font-size: 14px;
          font-weight: 100;
        }
        .price{
          span{
            color: #FBF9ED;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
    .h2{
      color: #C6A465;
      font-size: 36px;
      font-weight: 900;
      span{
        color: #FBF9ED;
      }
    }
    .d-flex{
      .text{
        color: #FBF9ED;
        font-size: 14px;
        font-weight: 300;
      }
      button{
        background-color: #C6A465;
        color: #FBF9ED;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        height: 47px;
      }
    }

  }

}
