.statsWrapper {
  .container {
    .row{
      .col-lg-12{
        .h2{
          color: #C6A465;
          font-size: 36px;
          font-weight: 900;
          span{
            color: #FBF9ED;
          }
        }
      }
    }
  }
}